.title {
  display: flex;
  align-items: center;
  img {
    margin-left: 16px;
  }
}

.listContainer {
  list-style: none;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 25px;
  gap: 20px;
  //   font-size: 18px;
}
