button {
  padding: 15px 25px;
  border-radius: 14px;
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  font-size: 16px;
  width: 100%;
  max-width: 140px;
  cursor: pointer;

  &:hover {
    border: 1px solid hsl(0, 0%, 8%);
    background: #fff;
    color: hsl(0, 0%, 8%);
    font-weight: 700;
  }

  @media only screen and (min-width: 768px) {
    max-width: 150px;
  }
}

.register {
  background-color: #fff;
  border: 2px solid hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  padding: 10px 25px;
  max-width: 300px;

  &:hover {
    border: 2px solid hsl(0, 0%, 8%);
  }

  @media only screen and (min-width: 768px) {
    padding: 10px 20px;
  }
}
