.drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.9;

  @media only screen and (min-width: 855px) {
    display: none;
  }
}

.mobileMenuContainer {
  position: fixed;
  width: 60vw;
  height: 100vh;
  right: 0;
  background: #fff;
  padding: 20px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;

  @media only screen and (min-width: 855px) {
    display: none;
  }

  img {
    margin-left: auto;
  }
}

.active {
  transform: translateX(0);
}

.mobileMenu {
  list-style: none;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 40px;

  &__item {
    color: hsl(0, 0%, 41%);
  }
}
