nav {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  gap: 4rem;
  max-width: 1800px;
  margin: auto;

  .logo {
    cursor: pointer;
  }

  .bars {
    margin-left: auto;
    cursor: pointer;

    @media only screen and (min-width: 855px) {
      display: none;
    }
  }
}

.navMenu {
  display: none;

  @media only screen and (min-width: 855px) {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    height: 100%;
    align-items: center;
  }

  &__item {
    color: hsl(0, 0%, 41%);

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(0, 0%, 8%);
      }
    }
  }
}

.buttonContainer {
  display: none;

  @media only screen and (min-width: 855px) {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;

    a {
      text-decoration: none;
      color: hsl(0, 0%, 41%);

      &:hover {
        color: hsl(0, 0%, 8%);
      }
    }
  }
}
